

.App {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: auto;
    max-width: 1530px;
    }

.nasa-logo { 
    margin: auto;
    padding: 5px;
    width: 200px;
    max-height: 250px;
  }
.results-text{
    text-align: center;
}