.Search{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    /*margin-top: 1rem;
    padding: 5px;*/
}


.search-text{
    width: 30%;
    height: 20px;
    color: rgb(29, 3, 82);
    border-radius: 2px;
    border: 1px solid grey;
    background-color: rgb(236, 236, 236);   
    margin: 5px; 
    padding: 0 10px;
    
}
.input-form{
    display: flex;
    flex-direction: row;
    /*margin: auto;*/
    justify-content: center;
}