
.SearchResults {
    display: inline-grid;
    grid-column: repeat(3, 15%);
    
    grid-row: auto;
    margin: 5px;
}

.card-photo{

    border-radius: 25px;
    width: 250px;
    height: 150px;
    object-fit: cover;
    padding: 15px;
   
  }