
.SearchResults {
    display: inline-grid;
    grid-column: repeat(3, 1fr);
    margin-left: 5%;
    margin-right: 3%;
    margin-top: 3rem;

}

.card-photo{

    border-radius: 15px;
    width: 250px;
    height: 150px;
    object-fit: cover;
}

/*media query => adjust margin left more*/